.wrapper-footer {
  padding: 30px 20px;
  background-color: $white;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif !important;

  p {
    margin-bottom: 0;
  }
}

footer {
  border-top: 1px govuk-colour('grey-2') solid;

  // extend the white background to the bottom of the browser on short pages
  box-shadow: 0 50vh 0 50vh $white;

  .footer-menu {
    align-items: flex-end;
    display: flex;

    ul {
      display: flex;
      margin: 0;

      li {
        padding-left: 1.5em;
        list-style: none;
        font-size: 14px;
      }

      li a {
        color: #3b3b3b;
      }

      li:first-child {
        padding-left: 0;
      }
    }
  }

}

@media (max-width: 690px) {

  .wrapper-footer {
    padding: 20px 15px;
    display: inherit;
    font-size: 0.8em;
  }

  .footer-menu {
    margin-top: 20px;

    ul {
      padding-left: 0;
    }
  }

}
