.wrapper-footer {
  padding: 30px 20px;
  background-color: $white;
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif !important;
  color: govuk-colour('dark-grey');
}

footer {
  // extend the white background to the bottom of the browser on short pages
  box-shadow: 0 50vh 0 50vh $white;

  a,
  a:link,
  a:visited {
    color: #3b3b3b;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.default-links {
    width: 100%;
    border-top: 1px solid govuk-colour('dark-grey');
    padding: $govuk-gutter-half 0 0;

    li {
      display: inline-block;
      margin-right: $govuk-gutter;
    }
  }

  .footer-menu {
    display: flex;
    margin-bottom: 2 * $govuk-gutter;

    section {
      width: 30%;
      margin-right: $govuk-gutter;

      h3 {
        color: govuk-colour('dark-grey');
        border-bottom: 1px solid govuk-colour('dark-grey');
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 5px;
      }
    }
  }

}

@media (max-width: 690px) {

  .wrapper-footer {
    padding: 20px 15px;
    display: inherit;
    font-size: 0.8em;
  }

  footer {
    .footer-menu {
      display: block;

      section {
        width: 100%;
        margin: 0 0 $govuk-gutter;
      }
    }
  }

}
