.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 960px;
  color: $black;
  background-color: $white;
  font-family: 'Inter UI', sans-serif !important;

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-logo {
  display: block;
  position: relative;
  width: 150px;
  height: auto;
  margin-left: -34px;
  margin-right: 25%;
  line-height: 0;
}

.header-title {
  margin-right: auto;
  align-self: center;
}

.header-name {
  font-size: 21px;
  font-weight: 400;
}

.header-menu {
  font-size: 17px;

  li {
    padding-left: 1.5em;
  }
}

@media (max-width: 1100px) {
  .header-logo {
    margin-left: 0;
  }
}

@media (max-width: 1020px) {
  .wrapper-header {
    margin: 0 15px;
  }
}

@media (max-width: 890px) {
  .header-logo {
    margin-right: 10%;
  }
}

@media (max-width: 640px) {
  .header-name {
    font-size: 20px;
  }

  .header-title {
    margin-bottom: 5px;
  }

  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
    width: 110px;
  }

  .wrapper-header {
    display: inherit;
    margin: 0 15px;
    padding: 10px 0;
  }

  .header-menu {
    li:first-child {
      padding-left: 0;
    }
  }
}
