.multiple-choice--hod {
  .multiple-choice {
    padding: 1px 0 2px 0;
    margin-bottom: 0;

    .govuk-label {
      font-weight: normal;
    }
  }

  label {
    padding: 4px 7px 7px 44px;
    width: 100%;
    box-sizing: border-box;
  }

  [type=checkbox] + label::before {
    width: 18px;
    height: 18px;
    top: 7px;
    left: 12px;
  }

  [type=checkbox] + label::after {
    border-width: 0 0 3px 3px;
    width: 11px;
    height: 4px;
    top: 13px;
    left: 16px;
  }

}

@include govuk-media-query($until: tablet) {
  .multiple-choice--hod {
    .multiple-choice {
      margin-bottom: 15px;
      padding-top: 4px;
    }
  }
}

.app-c-option-select {
  background-color: govuk-colour('grey-3');
  padding: 5px;
  margin-bottom: $govuk-gutter;

  @include govuk-media-query($from: desktop) {
    // Redefine scrollbars on desktop where these lists are scrollable
    // so they are always visible in option lists
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;

      // scss-lint:disable ColorVariable
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  &:focus {
    outline: 3px solid $ho-focus;
  }

  .container-head {
    padding: 0 5px;
  }

  .option-select-label {
    @include govuk-font(19);
    margin-right: 40px;
    font-weight: bold;
    padding-top: 5px;
  }

  .options-container {
    position: relative;
    background-color: $background;
    overflow-y: auto;
    overflow-x: hidden;

    @include govuk-media-query($from: desktop) {
      max-height: 200px;
    }

    label {
      display: block;
      padding: 7px 7px 7px 35px;
      cursor: pointer;

      @include govuk-media-query($from: desktop) {
        // leave space to interact with the scroll bars on desktop
        width: 90%;
      }

      &:hover {
        background-color: govuk-colour('grey-4');
      }
    }

    input[type=checkbox] {
      float: left;
      margin: 2px 0 0 -27px;
      width: 20px;
      height: 20px;
    }
  }

  padding: 0 0 1px;

  .js-selected-counter {
    @include govuk-font(14);
  }

  .options-container {
    border: 5px solid govuk-colour('grey-3');
  }

  // styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse
  &.js-collapsible {
    button {
      z-index: 100;
      position: relative;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      margin-bottom: -1px;
      padding: 5px 8px;
      background-color: govuk-colour('grey-3');

      @include govuk-device-pixel-ratio() {
        background-size: 32px 50px;
      }

      &:hover {
        background-color: govuk-colour('grey-2');
      }

      &:hover + .options-container {
        border-color: govuk-colour('grey-2');
      }

      &[disabled] {
        background-image: none;
        color: inherit;
      }
    }

    &.js-closed {
      button {
        background-position: right -75px;
      }

      .options-container {
        display: none;
      }
    }
  }
}

.options-container.options-container--hod {
  .multiple-choice {
    padding: 0;
    float: none;
    margin-bottom: 0;
  }

  label {
    padding: 7px 7px 7px 44px;
    width: 100%;
    box-sizing: border-box;
  }

  [type=checkbox] + label::before {
    width: 18px;
    height: 18px;
    top: 7px;
    left: 12px;
  }

  [type=checkbox] + label::after {
    border-width: 0 0 3px 3px;
    width: 11px;
    height: 4px;
    top: 13px;
    left: 16px;
  }
}
