@import 'govuk-frontend/dist/govuk/components/radios/radios';

// override to prevent indent on conditional reveal children
.govuk-radios__item > .govuk-reveal {
  margin-top: $govuk-gutter / 2;
  margin-left: -24px;

  &.hidden {
    display: none;
  }
}

// padding to bring in line with label
.govuk-radios__item > .govuk-hint {
  padding-left: 15px;
}
