// primary colours
$ho-brand: #8f23b3;
$black: #0b0c0c;
$white: #fff;
$background: #f3f3f3;

// secondary colours
$green: #0a6337;
$blue: #005ea5;
$purple: $ho-brand;
$dark-grey: #3b3b3b;
$mid-grey: #dadada;
$light-grey: $background;
$ho-focus: #ffbf47;

// link colours
$ho-link: $blue;
$ho-link-visited: #4c2c92;
$ho-link-hover: #2b8cc4;
$ho-link-active: #2b8cc4;
$ho-link-focus: #005798;
