body {
  background-color: $background;
  color: $black;
  line-height: 1.45 !important;
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quote {
  font-style: italic;
  margin-left: 40px;
}

@include govuk-media-query($from: tablet) {
  .quote {
    margin-left: 10px;
  }
}

// Headers

.heading-xlarge, .heading-section {
  font-size: 40px;
  line-height: 1.3;
}

.heading-large {
  font-size: 32px;
  line-height: 1.3;
}

.heading-medium {
  font-size: 24px;
  line-height: 1.3;
}

.heading-small {
  font-size: 18px;
  line-height: 1.45;
}
