// primary colours
$ho-brand: #8F23B3;
$black: #0B0C0C;
$white: #FFFFFF;
$background: #F3F3F3;

// secondary colours
$green: #3D5C00;
$blue: #005EA5;
$purple: $ho-brand;
$dark-grey: #3B3B3B;
$mid-grey: #DADADA;
$light-grey: $background;
