
// Inter UI and style overrides

.nta-font {
  font-family: "nta", Arial, sans-serif!important;
}

header, footer {
  background-color: $white;
}

main, .heading-section, .heading-xlarge, .heading-large, .heading-medium, .heading-small, .lede, .navbar, table td, .navbar .navbar__list-items li a {
  font-family: 'Inter UI', sans-serif;
  line-height: 1.45!important;
}

body {
  font-family: 'Inter UI', sans-serif;
  line-height: 1.45!important;
  background-color: $background;
}

main, table td, .navbar .navbar__list-items li a {
  font-size: 18px;
}

.lede {
  font-size: 22px;
  margin-bottom: 1.5em;
}

@media (max-width: 640px) {

  body, main, .heading-section, .heading-xlarge, .heading-large, .heading-medium, .heading-small, .lede, .navbar, table td, .navbar .navbar__list-items li a {
    line-height: 1.35!important;
  }

  main, table td, .navbar .navbar__list-items li a {
    font-size: 15px;
  }

  .lede {
    font-size: 17.5px;
    margin-bottom: 1.5em;
  }
}